################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/ItalWebConsulting.Infrastructure/obj/Debug/netcoreapp3.1
/src/ItalWebConsulting.Infrastructure/obj
/src/ItalWebConsulting.Infrastructure.Mvc/obj
/src/OnlineSchool.Contract/obj
/src/OnlineSchool.Core/obj
/src/OnlineSchool.Domain/obj
/src/OnlineSchool.Site/obj
/src/ItalWebConsulting.Infrastructure/bin/Debug/netcoreapp3.1
/src/ItalWebConsulting.Infrastructure.Mvc/bin/Debug/netcoreapp3.1
/src/OnlineSchool.Contract/bin/Debug/netcoreapp3.1/OnlineSchool.Contract.deps.json
/src/OnlineSchool.Contract/bin/Debug/netcoreapp3.1
/src/OnlineSchool.Core/bin/Debug/netcoreapp3.1/ItalWebConsulting.Infrastructure.dll
/src/OnlineSchool.Core/bin/Debug/netcoreapp3.1
/src/OnlineSchool.Domain/bin/Debug/netcoreapp3.1
/src/OnlineSchool.Site/bin/Debug/netcoreapp3.1
/src/ItalWebConsulting.Infrastructure/bin/Release/netcoreapp3.1
/src/ItalWebConsulting.Infrastructure.Mvc/bin/Release/netcoreapp3.1
/src/OnlineSchool.Contract/bin/Release/netcoreapp3.1
/src/OnlineSchool.Core/bin/Release/netcoreapp3.1
/src/OnlineSchool.Domain/bin/Release/netcoreapp3.1
/src/OnlineSchool.Site/bin/Release/netcoreapp3.1
/src/OnlineSchool.Site/logs
/src/OnlineSchool.Site/logs
/src/OnlineSchool.Site/logs
/src/OnlineSchool.Site/logs
/src/OnlineSchool.Site/private_uploads
