<footer class="my-bg-primary text-light">
    <div class="row m-0 p-0">
        <div class="col-12 p-0 text-center">
            <small> &copy; @DateTime.Now.Year Online School: @SharedResources.AllRightsReserved. &nbsp;</small>
        </div>
    </div>
</footer>