:root {
    --header-height: 77px;
    --footer-height: 24px;

    --blueColor: #174873;
    --facebook-color: #4267B2;
    --instagram-color: #C13584;
    --twitter-color: #1DA1F2;
    --gmail-color: #C71610;
    --linkedin-color: #2867B2;
}
