@import "variables.css";

/* ------------------------------------------- Scrollbar -------------------------------------------  */
/* width */
::-webkit-scrollbar {
    width: 7px;
} 
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}  
/* Handle */
::-webkit-scrollbar-thumb {
    background: #a9a9a9; 
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(141, 141, 141); 
}

/* ------------------------------------------- General -------------------------------------------  */
.cursor-pointer {
    cursor: pointer !important;
}
.absolute-left {
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(0, -50%);
}
.absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.absolute-right {
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translate(0, -50%);
}

/* ------------------------------------------- Main container -------------------------------------------*/
.main-container {
    height: calc(var(--vh, 1vh) * 100);
    overflow: hidden;
    display: block;
    position: relative;
    padding-top: var(--header-height);
}

/* ------------------------------------------- Route transition effect -------------------------------------------*/
.transition-page {
    position: relative;
    height: 100%;
    overflow-x: hidden !important;
    overflow-y: auto !important;
}
.fade-appear,
.fade-enter {
    opacity: 0;
    z-index: 1;
}
.fade-appear-active,
.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 300ms ease-in;
}
.fade-exit.fade-exit-active {
    opacity: 0;
    height: 0;
}

/* ------------------------------------------- My custom buttons/text/colors ------------------------------------------- */
.my-btn-primary {
    color: white !important;
    background-color: var(--blue-color) !important;
    border-color: var(--blue-color) !important;
}
.my-btn-secondary {
    color: #fff !important;
    position: relative;
    background: rgb(152,152,152);
    background: linear-gradient(180deg, rgb(176, 176, 176) 0%, rgb(90, 90, 90) 100%);
    z-index: 1;
}
.my-btn-secondary::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(90, 90, 90);
    background: linear-gradient(180deg, rgb(140, 140, 140) 0%, rgb(90, 90, 90) 100%);
    opacity: 0;
    transition: opacity .2s linear;
    z-index: -1;
}
    .my-btn-secondary:hover::before {
        opacity: 1;
    }
.my-text-primary {
    color: var(--blue-color) !important;
}
.my-text-secondary {
    color: var(--gray-color) !important;
}
.my-bg-primary {
    background-color: var(--blue-color) !important;
    color: white;
}
.my-bg-secondary {
    background-color: var(--gray-color) !important;
    color: white;
}

/* ------------------------------------------- Bootstrap overrides ------------------------------------------- */
.custom-control-input, .custom-control-label {
    cursor: pointer !important;
}

.dropdown-item.active, .dropdown-item:active {
    background-color: var(--blue-color) !important;
    color: white !important;
}