@import "./../../../../css/variables.css";

#downloadChatBtn {
    padding-top: 2px !important;
    padding-bottom: 2px !important;
}

/* React-chat-plugin */
.react-chat-container {
    max-width: none !important;
    width: 100% !important;
    height: 100% !important;
}
.react-chat-viewerBox {
    height: 100% !important;
}
.react-chat-row {
    height: 100% !important;
}

/* Remove avatar/padding */
.react-chat-avatar {
    display: none !important;
}
.react-chat-messageBoxLeft {
    padding-left: 0 !important;
}
.react-chat-messageBoxRight {
    padding-right: 0 !important;
}
.react-chat-rightBubble {
    background-color: var(--blue-color) !important;
    border-color: var(--blue-color) !important;
}
.react-chat-SendIcon:hover {
    fill: var(--blue-color) !important;
}